@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,300;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: goldenrod;
}

.container {
  background-color: #14161a;
  color: white;
  /* color: #a40000; */
  min-height: 100vh;
}